.sc-container {
  height: calc(100% - 70px);
  padding-top: 70px;
}
.colorYellow {
  color: rgba(252, 234, 69, 1);
}
.colorGreen {
  color: rgba(72, 211, 150, 1);
}
.colorBlue {
  color: rgba(26, 209, 255, 1);
}
.colorWhite {
  color: #ffffff;
}
.colorWhite {
  color: #ffffff;
}
.colorRed {
  color: #ff204a;
}
.bold {
  font-weight: bold;
}
.lev3title_pub {
  position: relative;
}
.leftBar {
  position: absolute;
  left: 0;
  top: 44px;
  width: 450px;
  height: 100%;
  z-index: 1;
}
.rightBar {
  position: absolute;
  top: 44px;
  right: 0;
  width: 450px;
  height: 100%;
  z-index: 1;
}
.TNT {
  height: 70px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.weatherInfo {
  /* width: 170px; */
  display: flex;
  justify-content: center;
}
.weatherInfo img {
  width: 64px;
  height: 64px;
}
.infoTitle {
  color: rgba(0, 203, 254, 1);
  font-size: 18px;
  display: block;
  height: 30px;
  line-height: 30px;
}
.infoNum {
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
}
.infoNum > em {
  font-size: 28px;
}
.floorBg {
  width: calc(100% - 40px);
  height: 50px;
  padding: 0 0 30px;
  margin: 0 20px;
  background-image: url(../image/floor.png);
  background-position: 0 40px;
  background-size: 100% 40%;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.power {
  width: 340px;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
}
.power > img {
  width: 36px;
  height: 37px;
}
.powerText {
  width: 170px;
  color: #a5eaff;
}
.powerTitle {
  margin-top: 4px;
}
.power em {
  font-size: 24px;
}
.powerToday {
  padding: 0 20px;
  height: calc(100% - 630px);
}
.echarts {
  width: 100%;
  height: 100%;
  position: relative;
}
.echarts img {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.energyBg {
  width: calc(100% - 40px);
  height: 80px;
  padding: 0 0 30px;
  margin: 10px 20px;
  background-image: url(../image/floor.png);
  background-position: 0 70px;
  background-size: 100% 30%;
  background-repeat: no-repeat;
}
@media screen and (min-height: 1000px) {
  .energyBg {
    margin: 30px 20px;
  }
}
.energy {
  width: 250px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #fff;
  margin: 0 auto;
  padding: 0 !important;
}
.energyTitle {
  margin-bottom: 6px;
  color: #a5eaff;
}
.energyText {
  width: 180px;
  margin-left: 24px;
  color: #a5eaff;
}
.energy > img {
  width: 78px;
  height: 78px;
}
.energy em {
  font-size: 30px;
}
.energyToday {
  padding: 0 20px;
  height: calc(100% - 630px);
}
.standard {
  font-size: 14px;
  color: rgba(0, 255, 255, 1);
  float: right;
  margin-top: 5px;
  cursor: pointer;
}
.AUEcharts {
  height: calc((100% - 500px) / 2);
  padding: 0 20px;
}

.AUEchartsLeft {
  height: calc(100% - 650px);
  padding: 0 20px;
}
.legend {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #a5eaff;
}
.legend em {
  width: 12px;
  height: 3px;
  display: inline-block;
  margin: 0 3px;
  vertical-align: middle;
}
.videoBox {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  /* mix-blend-mode: screen; */
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tipInfo {
  width: 260px;
  height: 170px;
  padding: 20px 20px 20px 40px;
  position: absolute;
  left: 450px;
  top: 304px;
  background-image: url(/common/image/faultLeft.png);
  background-size: 100% 100%;
  display: none;
}
.tipInfo span {
  display: block;
  color: #a5eaff;
  font-size: 14px;
}

.btnCenter {
  width: 360px;
  height: 40px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 22;
}
.btnBlue1 {
  background: transparent;
  background-image: url(../image/horizontal.png);
  background-size: 100% 100%;
}
.btnBlue2 {
  background: transparent;
  background-image: url(../image/vertical.png);
  background-size: 100% 100%;
}
.btn {
  width: 160px;
  height: 40px;
  color: #d4f5ff;
  border: 0;
  outline: none;
  cursor: pointer;
}
.btnOn {
}
.btnYellow1 {
  background: transparent;
  background-image: url(../image/horizontal_on.png);
  background-size: 100% 100%;
}
.btnYellow2 {
  background: transparent;
  background-image: url(../image/vertical_on.png);
  background-size: 100% 100%;
}

/* 窗口width大于1800 */
@media screen and (min-width: 1800px) and (max-width: 2000px) {
  .AUEcharts {
  }
}

/* 窗口height大于900 */
@media screen and (min-height: 900px) and (max-height: 1000px) {
  .AUEcharts {
    height: calc(100% - 745px);
  }
  .AUEchartsLeft {
    height: calc(100% - 745px);
  }
}
@media screen and (min-height: 1000px) and (max-height: 1050px) {
  .AUEcharts {
    height: calc(100% - 770px);
  }
  .AUEchartsLeft {
    height: calc(100% - 750px);
  }
}
/* 窗口height大于1050 */
@media screen and (min-height: 1050px) {
  .AUEcharts {
    height: calc(100% - 810px);
  }
  .AUEchartsLeft {
    height: calc(100% - 750px);
  }
}
