.markPassword{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.2);
	z-index: 99;
}
.password{
	width: 400px;
	height: 265px;
	position: absolute;
	padding: 60px 75px 40px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-image: url(/common/image/passwordBg.png);
	background-size: 100% 100%;
}
.iconE{
	width: 80px;
	height: 38px;
	padding-left: 38px;
	line-height: 38px;
	background-image: url(/common/image/exclamation.png);
	/* background-size: 100% 100%; */
	background-position: 0 center;
	background-repeat: no-repeat;
	text-align: center;
	position: absolute;
	left: 15px;
	top: 15px;
	font-size: 20px;
	color: rgba(0, 255, 255, 1);
}
.closeIcon{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 23px;
	top: 23px;
	cursor: pointer;
}
.hintMsg{
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	text-align: center;
}
.passwordInput{
	width: calc(100% - 52px);
	height: 44px;
	outline: none;
	border: 1px solid rgba(54, 153, 255, 1);
	border-radius: 5px;
	background-color: transparent;
	padding: 0 40px 0 10px;
	margin: 30px 0;
	color: #fff;
	font-size: 16px;
}
.eye{
	width: 20px;
	height: 15px;
	position: absolute;
	right: 10px;
	top: 46px;
	background-size: 100% 100%;
	cursor: pointer;
}
.passwordInput:-webkit-autofill{
	-webkit-text-fill-color: #ededed !important;
	background-color: transparent;
	background-image: none;
	transition: background-color 50000s ease-in-out 0s; //背景色透明  生效时长  过渡效果  启用时延迟的时间
}
.passwordInputError{
	border: 1px solid rgba(255, 68, 68, 1);
	color: rgba(255, 68, 68, 1);
}
.passwordError{
	position: absolute;
	left: 0px;
	top: 85px;
	color: rgba(255, 68, 68, 1);
	font-size: 14px;
}
.passwordBtn{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}
.btnItem{
	width: 160px;
	text-align: center;
	border: 1px solid rgba(54, 153, 255, 1);
	border-radius: 3px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	cursor: pointer;
}
.sure{
	background-color: rgba(12, 148, 217, 1);
}
.noClick{
	cursor: not-allowed;
}
.loadText{
	line-height: 30px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	margin-top: 50px;
	/* margin-bottom: 30px; */
}
.loadding{
	height: 200px;
	width: 400px;
	position: relative;
}
.loaddingText{
	position: absolute;
	top: 280px;
	left: 0;
	width: 400px;
	left: 75px;
	text-align: center;
	font-size: 14px;
	color: rgba(10, 206, 255, 1);
}
.result{
	height: 200px;
	width: 350px;
	position: absolute;
	color: #fff;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.resultImg{
	width: 86px;
	height: 86px;
	/* margin: 10px auto; */
	background-size: 100% 100%;
}
.msgTitle{
	font-size: 24px;
	margin-bottom: 10px;
}
.successMsg{
	/* flex: 1; */
	font-size: 16px;
	text-align: left;
}
.failureMsg{
	/* flex: 1; */
	font-size: 16px;
	text-align: left;
}
.show{
	opacity: 1;
	z-index: 99;
}
.hide{
	opacity: 0;
	z-index: -99;
}