.content {
  :global {
    .ant-table-tbody {
      > tr {
        > td {
          padding: 8px;
        }
      }
    }
    .ant-table-thead {
      > tr {
        > th {
          padding: 8px;
          color: #141414;
          font-weight: bold;
          font-size: 12px;
        }
      }
    }
    .ant-table-thead {
      .ant-table-cell {
        background: #c0d0eb;
      }
    }
    .ant-table-cell {
      text-align: center;
    }
  }
  width: 100%;
  height: 100%;
}
.updateBtn {
  border: 1px solid #04bc8c;
  background-color: #04bc8c;
  color: #fff;
  &:hover {
    border: 1px solid #04bc8c;
    background-color: #04bc8c;
  }
  &:focus {
    border: 1px solid #04bc8c;
    background-color: #04bc8c;
  }
}
