html,
body {
	height: 100%;
	position: relative;
	overflow: auto;
}

html {
	background-size: 100% 100%;
}

.leftbg {
	position: absolute;
	left: 0;
	top: 34px;
	height: calc(100% - 34px);
	width: 167px;
}

.rightbg {
	position: absolute;
	right: 0;
	top: 34px;
	height: calc(100% - 34px);
	width: 167px;
}

.leftbar {
	width: 585px;
	height: 700px;
	background: url(../image/zuozhong2.png);
	position: absolute;
	left: 90px;
	top: 50%;
	margin-top: -350px;
}

.rightbar {
	width: 585px;
	height: 700px;
	background: url(../image/youzhong2.png) 100% 100%;
	position: absolute;
	right: 90px;
	top: 50%;
	margin-top: -350px;
}

.centercircle {
	width: 700px;
	height: 700px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -400px;
	margin-left: -350px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.centercircle img {
	width: 100%;
	height: 100%;
}

.centercircle_top{
	width: 570px;
	height: 100px;
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%,0);
	color: #A5EAFF;
}
.centercircle_top li{
	float: left;
	width: 190px;
	background: url(../image/top-line.png) no-repeat right center;
	text-align: center;
}
.centercircle_top li:last-child{
	background: none;
}
.labelCount{
	font-size: 36px;
	font-weight: bold;
}

.centercircle_text{
	width: 440px;
	height: 100px;
	background: url(../image/anquan.png);
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
}
.centercircle_title{
	font-size: 24px;
	color: #48D396;
	font-weight: bold;
	text-align: center;
	padding: 45px 0 0 ;
}
.centercircle_text_span{
	position: absolute;
	top: 5px;
	left: 48%;
	transform: translate(-50%,0);
	font-size: 16px;
	color: #A5EAFF;
}
.centercircle_dian{
	width: 70px;
	height: 15px;
	background: url(../image/anquandian.png);
	background-size: 100% 100%;
	position: absolute;
	bottom: -13px;
	left: 12%;
	transform: translate(-50%,-50%);
	-webkit-animation: 6s move infinite linear;
}
@keyframes move {
 0% {
  left: 12%;
 }
 100% {
  left: 88%;
 }
}
.pub-title {
	background: url(../image/titlebg.png);
	font-size: 18px;
	color: rgba(0, 255, 255, 1);
	font-weight: bold;
	background-size: 100% 100%;
	padding-left: 15px;
	height: 30px;
	line-height: 26px;
}
.backgroundGray{
}
.bar-cont {
	width: 380px;
	position: relative;
	top: 10px;
}
.bar-top{
	height: 230;
}
.mon-cover{
}
.mon-cover li{
	width: 50%;
	float: left;
	color: #A5EAFF;
	font-size: 18px;
	line-height: 30px;
	margin: 15px 0px;
}
.mon-cover li img{
	float: left;
	margin-right: 10px;
}
.cont1{
	margin-left: 20px;
	margin-top: 10px;
}
.cont1-ch{
	width: 100%;
	height: 80px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 10px;
	padding: 15px 0 0 110px;
	box-sizing: border-box;
}
.cont1-img1{
	background-image: url(../image/zu22.png);
}
.cont1-img2{
	background-image: url(../image/zu21.png);
}
.cont1-img3{
	background-image: url(../image/zu20.png);
}
.cont1-span{
	line-height: 20px;
}
.data-span{
	font-size: 36px;
	line-height: 40px;
}
.data-unit{
	font-size: 18px;
	margin-left: 3px;
}
.data-color-green{
	color: #48D396;
}
.data-color-skyblue{
	color: #00FFFF;
}
.data-color-blue{
	color: #00C6FF;
}
.equpro{
	height: 100px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}
.equpro>li{
	flex: 1;
	height: 100%;
	margin-right: 10px;
	text-align: center;
	position: relative;
	background-color:rgba(0, 163, 163, 0.1);
}
.equpro li span{
	display: block;	
	padding-bottom: 4px;
	color: #A5EAFF;
	margin-top: 5px;
}
.fontsize24{
	font-size: 24px;
}
.marginTop{
	margin-top: 20px;
}
.equpro li span em{
	font-size: 24px;
}
.equpro li:last-child span em{
	cursor: pointer;
}
.en-echars{
	height: calc(100% - 20px);
	padding: 10px 0 0;
	position: relative;
}
.top_list{
	 width: 100%;
	 height: 100%;
	 padding: 10px;
	 box-sizing: border-box;
 }
 .top_list li{
	padding: 0 0 3px;
 }
 .top_list .li_top{
	 width: 100%;
	 height: 30px;
	 position: relative;
 }
 .top_list .li_top .list_No{
	 float: left;
	 font-size: 18px;
	 color: #96D6FF;
	 position: absolute;
	 bottom: 0;
	 left: 5px;
 }
 .top_list .li_top .list_name{
	 float: left;
 	 font-size: 14px;
 	 color: #96D6FF;
	 position: absolute;
	 bottom: 0;
	 left: 25px;
 }
 .top_list .li_top .list_Num{
	 float: left;
 	 font-size: 20px;
 	 color: #96D6FF;
	 position: absolute;
	 bottom: 0;
	 right: 15px;
 }
 .top_list .li_top .list_unit{
	 float: left;
 	 font-size: 12px;
 	 color: #48D396;
	 position: absolute;
	 bottom: 0;
	 right: 5px;
 }
 .top_list .li_bottom{
	 margin: 3px 0;
	 padding: 0 5px;
	 height: 5px;
	 background: url(../image/hengtiao.png);
	 background-size: 100% 100%;
 }
 .top_list .li_line{
	 width: 100%;
	 height: 5px;
	 position: absolute;
	 left: 0;
	 top: 0;
	background: linear-gradient(90deg, rgba(0, 255, 255, 0.2) 0%, rgba(0, 255, 255, 1) 100%);
 }
 .top_list .li_btn{
	 width: 4px;
	 height: 7px;
	 position: absolute;
	 top: -1px;
	 left: 100%;
	 background-color: #FCEA45;
 }
 .imagePo{
 	width: 150px;
 	height: 100px;
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%,-50%);
 }
.cont4 {
	height: 240px;
	padding: 0 10px;
}
.cont4-ul{
	font-size: 16px;
}
.cont4-ul li{
	line-height: 40px;
	padding: 0 10px;
	color: #A5EAFF;
	display: flex;
}
.ulSpan1{
	flex: 1;
	display: block;
	text-align: center;
}
.ulSpan2{
	flex: 1;
	display: block;
	text-align: center;
}
.cont4-pad{
	flex: 4;
	padding: 0 0 0 10px;
	display: inline-block;
}
.cont4-span-red{
	color: #FF4444;
}
.cont2 {
	background: rgba(0, 163, 163, 0.05);
	width: 295px;
	height: 230px;
	margin-left: 5px;
	margin-top: 10px;
	position: relative;
}
.cont2:before {
	content: '';
	background: rgba(0, 255, 255, 0.5);
	height: 230px;
	width: 1px;
	display: block;
	position: absolute;
	left: -5px;
}
.cont5 {
	height: 230px;
	margin-left: 5px;
	margin-top: 10px;
	position: relative;
}
.cont3 {
	width: 70%;
	height: 195px;
	color: #A5EAFF;
	font-size: 14px;
	line-height: 18px;
	padding-top: 5px;
}

.cont3 .cont3-title1 {
	background: url(../image/titlebg2.png);
	font-size: 18px;
	color: #00C6FF;
	font-weight: bold;
	background-size: 100% 100%;
	padding-left: 15px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 12px;
	margin-top: 12px;
}

.cont3 .cont3-title2 {
	background: url(../image/titlebg3.png);
	font-size: 18px;
	color: #3EFFAA;
	font-weight: bold;
	background-size: 100% 100%;
	padding-left: 15px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 12px;
	margin-top: 12px;
}

.cont3-pro {
	padding-left: 20px;
}

.fr {
	float: right;
}

.marbot1 {
	margin-bottom: 100px;
	height: 280px;
}

.martop1 {
	margin-top: 40px;
}
.martop2 {
	margin-top: 20px;
}
.martop3{
	margin-top: 10px;
}
#main3 {
	height: 190px;
	width: 100%;
}

#main4 {
	height: 100%;
	width: 100%;
}

#main2 {
	width: 100%;
	height: 260px;
}

.tl_img {
	float: right;
	margin: 10px;
}

.legend {
	margin-top: -20px;
}

.legend li {
	width: 33.33%;
	color: #0ACEFF;
	float: left;
}

.legend li span {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 9px;
}

.legend li:nth-child(1) {
	color: #ff4444;
}

.legend li:nth-child(1) span {
	border: 1px solid #ff4444;
	border-radius: 3px;
	box-shadow: 0px 0px 7px inset #ff4444;
}

.legend li:nth-child(2) {
	color: #0a94ff;
}

.legend li:nth-child(2) span {
	border: 1px solid #0a94ff;
	border-radius: 3px;
	box-shadow: 0px 0px 7px inset #0a94ff;
}

.legend li:nth-child(3) {
	color: #18d992;
}

.legend li:nth-child(3) span {
	border: 1px solid #18d992;
	border-radius: 3px;
	box-shadow: 0px 0px 7px inset #18d992;
}

.legend li:nth-child(4) {
	color: #f77f0b;
}

.legend li:nth-child(4) span {
	border: 1px solid #f77f0b;
	border-radius: 3px;
	box-shadow: 0px 0px 7px inset #f77f0b;
}

.legend li:nth-child(5) {
	color: #0acbfb;
}

.legend li:nth-child(5) span {
	border: 1px solid #0acbfb;
	border-radius: 3px;
	box-shadow: 0px 0px 7px inset #0acbfb;
}

.nowwaring {
	height: 150px;
	width: 30px;
	position: relative;
	background: rgba(0, 163, 163, .2);
	float: left;
	margin: 0 9px;
}

.nowwaring .innerchars {
	width: 16px;
	position: absolute;
	bottom: 0;
	left: 7px;
	border-radius: 2px;
}

.nowwaring .innerchars.bgblu {
	background: linear-gradient(0deg, rgba(72, 211, 150, 1) 0%, rgba(0, 255, 255, 1) 100%);
}

.nowwaring .innerchars.bgred {
	background: linear-gradient(0deg, rgba(255, 68, 68, 1) 0%, rgba(255, 144, 144, 1) 100%);
}

.nowwaring .title {
	position: absolute;
    bottom: -32px;
    font-size: 10px;
    line-height: 14px;
    width: 38px;
    text-align: center;
    color: #A5EAFF;
    left: -4px;
	height: 26px;
}

.nowwaring .danwei {
	position: absolute;
	top: -20px;
	font-size: 12px;
	color: #a5eaff;
	width: 30px;
	text-align: center;
}

.nowwaring .count {
	position: absolute;
	top: -5px;
	font-size: 14px;
	color: #a5eaff;
	width: 30px;
	text-align: center;
}

.waringcontent {
	padding-top: 35px;
	height: calc(100% - 35px);
}

.alarm-rate {
	position: absolute;
	top: 198px;
	right: -37px;
	width: 300px;
	height: 300px;
	border-radius: 100%;
}

.alarm-rate .alarm-rate-img {
	width: 100%;
	height: 100%;
}

.alarm-rate .ratechars {
	width: 130px;
	height: 130px;
	position: absolute;
	top: 85px;
	left: 85px;
}

.integrity-rate {
	position: absolute;
	top: 198px;
	left: -37px;
	width: 300px;
	height: 300px;
	border-radius: 100%;
}

.integrity-rate .integrity-rate-img {
	width: 100%;
	height: 100%;
}

.integrity-rate .ratechars {
	width: 130px;
	height: 130px;
	position: absolute;
	top: 85px;
	left: 85px;
}

.leftbar .temperature {
	height: 80px;
	width: 80px;
	position: absolute;
	top: 375px;
	right: 275px;
}
.temperature-data{
	width: 80px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.pressure-data{
	width: 80px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.temperature-difference{
	font-size: 24px;
	color: #3DFFAA;
}
.pressure-difference{
	font-size: 24px;
	color: #00C6FF;
}
.difference-unit{
	font-size: 14px;
}
.leftbar .pressure {
	height: 80px;
	width: 80px;
	position: absolute;
	top: 278px;
	right: 275px;
}
.circle_tips{
	text-align: center;
    width: 130px;
    height: 130px;
    position: absolute;
    top: 125px;
    left: 85px;
    line-height: 25px;
    font-size: 15px;
    color: #0ff;
}
.leftbar .temperature span {
	top: 38px;
	position: absolute;
	left: 19px;
	text-align: center;
	width: 77px;
}

.leftbar .temperature span em {
	display: block;
	font-size: 24px;
	color: #00C7FF;
	font-style: normal;
	font-weight: bold;
}

.leftbar .pressure span {
	top: 38px;
	position: absolute;
	left: 19px;
	text-align: center;
	width: 77px;
}

.leftbar .pressure span em {
	display: block;
	font-size: 24px;
	color: #3EFFAA;
	font-style: normal;
	font-weight: bold;
}
@media only screen and (max-width: 1800px) {
	.leftbar {
		left: 73px;
	}

	.rightbar {
		right: 73px;
	}
}

.echars-units {
	position: absolute;
	left: 20px;
	top: 40px;
	color: #a5eaff;
	opacity: 0.6;
}
.pingFen{
	position: absolute;
	bottom: -140px;
	left: 50%;
	transform: translate(-50%);
	font-size: 14px;
	text-decoration: underline;
	cursor: pointer;
	color: #A5EAFF;
	font-weight: normal;
}
.div_rules{
	background: url(../image/bg_rules.png) no-repeat;
	background-size: contain;
	width: 278px;
	height: 140px;
	position: absolute;
	top: -10px;
	left: 60px;
	padding-left: 20px;
	box-sizing: border-box;
	padding: 15px 15px 15px 40px;
	line-height: 25px;
	text-align: left;
	color: #FFFFFF;
	display: none;
	z-index: 10;
}
.div_rules .title{
	font-size: 16px;
	margin-bottom: 5px;
	color: #FFFFFF;
}
/*下方列表*/
.bottomList{
	position: absolute;
	height: 140px;
	bottom: 95px;
	font-size: 14px;
	box-sizing: border-box;
	width: 790px;
	left: 50%;
	margin-left: -395px;
}
/*表格总样式*/
.bottomList .left-list,.bottomList .right-list{
	width: 345px;
	height: 97px;
	display: inline-block;
	float: left;
}

.bottomList .bottomList-left{
	width: 300px;
	height: 140px;
	padding-left: 10px;
	border-left: 1px solid #A5EAFF;
	position: absolute;
	top: 0;
	left: 80px;
}
.bottomList .bottomList-middle{
	width:400px;
	height: 140px;
	position: absolute;
	left: 46%;
	top: 0;
	transform: translate(-50%,0);
}
.bottomList .bottomList-right{
	width: 300px;
	height: 140px;
	padding-left: 10px;
	border-left: 1px solid #A5EAFF;
	position: absolute;
	top: 0;
	right: 80px;
}
.bottomList .bottomList-title{
	font-size: 14px;
	color: #A5EAFF;
	text-align: left;
}
.bottomList .bottomList-span{
	font-size: 14px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #A5EAFF;
	text-align: center;
	text-decoration: underline;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}
.bottomList-iconBox{
	width: 100%;
	overflow: hidden;
	margin-top: 40px;
}
.bottomList-icon{
	width: 25%;
	height: 90px;
	float: left;
}
.bottomList-iconName{
	font-size: 18px;
	color: #00FFFF;
	text-align: center;
	margin-top: 10px;
}
.bottomList-img{
	width: 60px;
	height: 60px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.bottomList-img img{
	width: 60px;
	height: 60px;
}
.bottomList-shao{
	width: 60px;
	height: 16px;
	position: absolute;
	top: 0;
	left: 0;
	background-image:url(../image/jianbianshao.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.warnList{
	width: 100%;
	height: 108px;
	margin-top: 15px;
}
.colorWarnYellow{
	color: #FFB72C;
}
.colorWarnRed{
	color:#FF4444;
}
/*表头样式*/
.backTh{
	background: url("../image/listTitle.png") no-repeat;
	background-size: 336px auto;
	font-size: 16px;
	height: 48.5px;
}
.backTh div{
	height: 37px;
	display: inline-block;
	text-indent: 10px;
	font-weight: 400;
	line-height: 40px;
	background: linear-gradient(90deg, rgba(0, 255, 255, 0.11) 0%, rgba(0, 255, 255, -0.01) 100%);
	border-radius: 1px;
	color: #00FFFF;
}

/*列表样式*/
/*第一列*/
.bottomList .col1{
	width: 200px;

}
/*第二列*/
.bottomList .col2{
	width: 140px;
}

.bottomList .col1,.bottomList .col2{
	display:block;
	float: left;
	background: linear-gradient(90deg, rgba(0, 255, 255, 0.11) 0%, rgba(0, 255, 255, -0.01) 100%);
	border-radius: 1px;
	font-weight: 400;
	text-indent: 10px;
	height: 37px;
	line-height: 33px;
	/* font-size: 12px; */
}
.txtMarquee-top .infoList .col1,.txtMarquee-top .infoList .col2{
	margin: 5px 0px;
}

/*综合安全评分样式*/
.center-message{
	text-align: center;
	font-size: 19px;
	font-weight: bold;
	width: 114px;
	height: 114px;
	position: relative;
	z-index: 1;
}

.bak{
	width: 114px;
	height: 114px;
	background: #03172C;
	opacity: 0.5;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
#safetyScore {
	font-size: 54px;
}

/*纶博图*/
.txtMarquee-top {
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-top: 10px;
}

.txtMarquee-top .hd {
	overflow: hidden;
	height: 37px;
	background: #f4f4f4;
	padding: 0;
}

.txtMarquee-top .hd .prev,
.txtMarquee-top .hd .next {
	display: block;
	width: 9px;
	height: 5px;
	float: right;
	margin-right: 5px;
	margin-top: 10px;
	overflow: hidden;
	cursor: pointer;
	background: url("../images/arrow.png") 0 -100px no-repeat;
}

.txtMarquee-top .hd .next {
	background-position: 0 -140px;
}

.txtMarquee-top .hd .prevStop {
	background-position: -60px -100px;
}

.txtMarquee-top .hd .nextStop {
	background-position: -60px -140px;
}

.txtMarquee-top .bd {
}

.txtMarquee-top .infoList {
	color: #96D6FF;
}

.txtMarquee-top .infoList li {
	height: 37px;
	line-height: 40px;
	text-align: left;
	overflow: hidden;
}
.txtMarquee-top .infoList li:hover{
}
.txtMarquee-top .infoList li .status {
	float: right;
	margin-left: 10px;
	width: 30px;
}

.txtMarquee-top .infoList li .type {
	float: right;
	width: 50px;
}

.txtMarquee-top .infoList li a {
	color: #0ac5f5;
}

.warnBack{
	width: 100%;
	height: 100%;
	background: url("../image/kuang.png") no-repeat;
	background-size: 100% 100%;
}
.warnBack .warnMessage{
	width: 145px;
	padding: 30px 0px 30px 114px;
	background: url("../image/yujing.png") no-repeat 46px 50%;
	background-size: 42px 42px;
}


.faultBack{
	width: 100%;
	height: 100%;
	background: url("../image/kuang.png") no-repeat;
	background-size: contain;
}
.faultBack .faultMessage{
	width: 145px;
	padding: 30px 0px 30px 114px;
	background: url("../image/guzhang.png") no-repeat 46px 50%;
	background-size: 42px 42px;
}
.faultBack .faultMessage,.warnBack .warnMessage{
	color: #00FFFF;
}
@media only screen and (max-width: 1800px) {
	.leftbar {
		left: 73px;
	}

	.rightbar {
		right: 73px;
	}
}
@media only screen and (min-width: 1800px) {
	.bottomList{
		width: 940px;
		margin-left: -470px;
	}
}
@media screen and (min-height: 980px) {
	.bottomList{
		bottom: 165px;
	}
	.centercircle_text{
		top:-80px;
	}
}
@media screen and (min-height: 1080px) {
	.bottomList{
		bottom: 165px;
	}
	.centercircle_text{
		top:-80px;
	}
}
.gDDiv{
	padding: 0;
}
.gDimg{
	width: 16px;
	height: 16px;
}
.gDhang0{
	height: auto;
	padding: 5px 0;
	justify-content: space-between;
	align-items: flex-start;
}
.gDhang_item0{
	flex: none;
	width: 200px;
	display: block;
	text-align: left;
}
.gDhang_item11{
	flex: 2;
	display: block;
}
.gDhang_item1{
	flex: 1;
	display: block;
}
.gDhang_item2{
	flex: none;
	width: 70px;
	display: block;
}
#warnList .gDhang0,
#warnList .gDhang_item0,
#warnList .gDhang_item1,
#warnList .gDhang_item2,
#warnList .gDhang_item3{
	color: #FFB72C;
	overflow: inherit;
	text-align: left;
	text-overflow: inherit;
	white-space: normal;
}
#faultList .gDhang0,
#faultList .gDhang_item0,
#faultList .gDhang_item1,
#faultList .gDhang_item2,
#faultList .gDhang_item3{
	color: #ff4444;
	overflow: inherit;
	text-align: left;
	text-overflow: inherit;
	white-space: normal;
}
.textHover{
	background: rgba(255,255,255,0);
}
.echarts-legend{
	width: 200px;
	height: 20px;
	position: absolute;
	top: -20px;
	right: -10px;
	display: none;
}
.echarts-legend li{
	padding-left: 5px;
	display: inline-block;
}
.echarts-legend .echarts-legend-icon{
	width: 10px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 2px;
}
.echarts-legend .echarts-legend-name{
	font-size: 14px;
}
.background1{
	background-color: #00FFFF;
}
.background2{
	background-color: #FCEA45;
}
.colorEchartsLegend{
	color: #A5EAFF;
}
.jinggaojinggao{
	width: 38px;
	height: 38px;
	position: absolute;
	top: -7px;
	right: 0;
	display: none;
}
.tipList{
	position: fixed;
	top: 100px;
	left: 200px;
	display: flex;
	height: 30px;
	line-height: 30px;
	background-color: #000000;
	opacity: 0;
	z-index: -99;
}
.tipList .gDhang_item0,
.tipList .gDhang_item1,
.tipList .gDhang_item2,
.tipList .gDhang_item3{
	padding: 0 5px 0 0;
	flex: auto;
	overflow: unset;
	text-overflow: unset;
	white-space: unset;
}
.tipList .gDhang_item0{
	min-width: 110px;
}
.tipList .gDhang_item2{
	min-width: 30px;
}