.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background:url('@/../../../public/image/bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9999;
  p{
    position: absolute;
    margin-top: 320px;
    margin-right: 40px;
    font-size: 18px;
    color: #6C90B0;
    font-family: 'Microsoft YaHei';
  }
}

.contentImg{
  margin-bottom: 120px;
  margin-right: 50px;
  width: 413px;
  height: 365px;
  z-index: 9999;
  background: url('@/assets/404/404.png');
  background-repeat:no-repeat;
}