// 全局样式
body {
  width: 100% !important;
  overflow: hidden;
}

.textColor {
  color: red;
}
// 设置菜单款式
.ant-menu,
.ant-menu-sub,
.ant-menu-inline {
  color: white;
  background-color: rgb(5, 6, 8) !important;
}
// 去掉右边框
.ant-menu-inline .ant-menu-item::after {
  border: 2px solid #0aceff;
  margin: 0;
}

.ant-menu-item-selected::after {
  border-color: transparent !important;
  background-color: transparent !important;
}
// 去掉菜单外边框(在组件中去除了)
// .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
//     border-right: none;
// }
.ant-menu-submenu-title {
  color: white !important;
}
// 设置 a 链接款式
.ant-menu-item a {
  color: white !important;
}

.ant-menu-item a:hover {
  color: #0aceff !important;
}
// 下拉箭头款式
.ant-menu-submenu-arrow {
  color: white !important;
}
// 设置子菜单款式
.ant-menu-submenu-active {
  background-color: #081939 !important;
  color: #0aceff !important;
}
// 选中菜单状态
.ant-menu-item-selected {
  background-color: #081939 !important;
  color: #0aceff !important;
}

// 设置子菜单开展款式
.ant-menu-submenu > .ant-menu {
  color: white;
}
// 设置未选中菜单项鼠标滑过款式
.ant-menu-item-active {
  background-color: #081939 !important;
  color: #0aceff !important;
}

// 缓存页面内容样式
.ka-wrapper {
  height: 100%;
}

.ka-content {
  height: 100%;
}

// input:-internal-autofill-previewed,
// input:-internal-autofill-selected {
//     -webkit-text-fill-color: #807c7c;
//     transition: background-color 5000s ease-out 0.5s;
// }

// 列表页的统一样式
.zkTableContent {
  font-family: '微软雅黑';
  width: 100%;
  height: calc(100% - 10px);
  position: relative;
  overflow: hidden;
  padding: 12px 16px 0 16px;
  box-sizing: border-box;

  .ant-form-item {
    margin-bottom: 0;
  }

  .ant-table-tbody {
    > tr {
      > td {
        padding: 8px;
      }
    }
  }

  .ant-table-thead {
    > tr {
      > th {
        padding: 8px;
        color: #141414;
        font-weight: bold;
        font-size: 12px;
      }
    }
  }

  .ant-table-thead {
    .ant-table-cell {
      background: #c0d0eb;
    }
  }

  .ant-table-cell {
    text-align: center;
  }

  // 列表页上面的搜索框样式
  .zkSearchBox {
    margin-bottom: 12px;
    .ant-space-horizontal {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }

  // 表格头部修改按钮样式
  .zkTableEditBtn {
    border: 1px solid #52c41a;
    background-color: #52c41a;
    color: #fff;

    &:hover {
      border: 1px solid #73d13d;
      background-color: #73d13d;
    }

    &:focus {
      border: 1px solid #73d13d;
      background-color: #73d13d;
    }
  }
}

// 弹出model框样式
.ant-modal-content {
  .ant-modal-header {
    background: #cfe6ff;
    .ant-modal-title {
      border: 0;
      font-size: 18px;
      font-family: Microsoft YaHei;
      font-weight: bold;
      color: #202735;
    }
  }
  .ant-modal-close-x {
    color: #268cff;
    font-size: 20px;
    stroke: #268cff;
    stroke-width: 100px;
  }
}
