.logo {
    width: 200px;
    height: 45px;
    background-image: url('/image/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.layoutHeader {
    background: #2c303b;
    height: 45px;
    display: flex;
    color: #fff;
    align-items: center;
}

.layoutContent {
    background: #2c303b;
    background-image: url('/image/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // height: calc(100vh - 45px);
    height: 100%;
    padding: 24;
    position: relative;
}

.layoutSider {
    height: 100%;
    // height: calc(100vh - 45px);
    border: 1px solid #073B71;
    background-color: rgb(5,6,8);
}