.selectBox {
  padding: 0 10px;
}
.content {
  display: flex;
  width: 100%;
  height: calc(100% - 120px);
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 10px;
  .container {
    padding: 0 10px;
  }
}
.TreeBox {
  background-color: white;
  .Treetitle {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #eee;
    line-height: 50px;
    font-size: 14px;
    color: #676a6c;
    padding: 0 20px;
  }
  .tree {
    width: 300px;
    padding: 20px;
  }
}
